.ordersContainer{
    padding: 20px;
    width: 90%;
    margin: auto;
    /* display: grid;
    grid-template-columns:repeat(auto-fill,minmax(200px,1fr)); */
    /* gap: 20px;
    row-gap: 20px; */
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.bookCard{
    /* border: 2px solid red; */
    padding: 10px;
    display: grid;
    grid-template-columns: 1.5fr 1fr 0.5fr 1fr 0.5fr;
    gap: 20px;
}

.order-titles{
    font-weight: bolder;
    font-size: 1.2rem;
}

.book-return-button{
    width: max-content;
    padding: 6px 15px;
    border: 2px solid black;
    border-radius: 16px;
    border: none;
    outline: none;
}

.book-return-button:hover{
    background-color: rgb(79, 134, 79);
}

.greenOrder {
    order: 1;
  }
  
  .redOrder {
    order: 2;
  }

.bookCard h2{
    display: flex;
    align-items: center;
}

.statusButton{
    display: flex;
    justify-content: center;
    align-items: center;
}

.statusButton button{
    margin-left: 5px;
}

.redColor{
    color: red;
}

.greenColor{
    color: green;
}

.statusButton .redDot{
    color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
    font-weight: bolder;
}