.table-data {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    grid-gap: 24px;
    margin-top: 24px;
    width: 100%;
    color: var(--dark);
}
.table-data > div {
    margin: 10px;
    border-radius: 20px;
    background: var(--light);
    padding: 24px;
}

.orderItem_hr{
    width: 100%;
    background-color: black;
    height: 2px;
    margin: 5px 0px;
}

.options-dataSet{
    display: flex;
    column-gap: 15px;
}

.options-dataSet button{
    padding: 5px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
}

.options-dataSet button:hover{
    background-color: red;
}

.order-item-userName {
    color: tomato;
    font-size: 1.5rem;
    margin-bottom: 10px;
    font-style: unset;
}

.book-item ,.book-item-approved{
    text-align: center;
}

.user-order {
    display: flex;
    flex-direction: column;
}

.book-item-list .book-item {
    display: grid;
    grid-template-columns: 1fr 1.5fr 1.5fr 0.5fr 0.5fr;
    margin-bottom: 15px;
    column-gap: 15px;
}

.book-item-list .book-item-approved {
    display: grid;
    grid-template-columns: 1fr 2fr 1.5fr 0.5fr;
    margin-bottom: 15px;
    column-gap: 15px;
}

.book-item-list .book-item-delay {
    display: grid;
    grid-template-columns: 1fr 2fr 1.5fr 0.5fr;
    margin-bottom: 15px;
    column-gap: 15px;
}

.order-item-status {
    color: red;
    margin-left: 15px;
}

.select-status-options {
    border: none;
    outline: none;
    background: var(--light);
}

.return-book-warningEmail{
    padding: 5px 8px;
    border-radius: 6px;
    cursor: pointer;
    width: max-content;
}

.return-book-warningEmail:hover{
    background-color: aqua;
}



@media (max-width: 1200px) {
    .book-item-list .book-item {
        grid-template-columns: 1fr 1.5fr 0.5fr 0.5fr;
    }

    .book-item-list .book-item .book-item-authorName {
        display: none;
    }

    .book-item-list .book-item-delay {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr 0.5fr;
        margin-bottom: 15px;
        column-gap: 15px;
    }

    .return-book-warningEmail{
        padding: 3px;
        border-radius: 6px;
        cursor: pointer;
        width: max-content;
    }
    
}


@media (max-width: 1200px) {
    .book-item-list .book-item-approved {
        grid-template-columns: 1fr 1.5fr 1fr;
    }

    .book-item-list .book-item-approved .book-item-authorName {
        display: none;
    }
}





@media (max-width: 700px) {
    body.dark .book-item-list .book-item {
        border: 2px solid;
    }
    body.dark .book-item-list .book-item-approved {
        border: 2px solid;
    }
    .order-item-userName {
        font-size: 1.2rem;
    }

    .book-item-list .book-item ,.book-item-list .book-item-delay{
		display: block;
		padding: 10px;
        column-gap: 10px;
        row-gap: 10px;
		border: 2px solid black;
		border-radius: 5px;
    }

    .book-item-list .book-item-delay p{
        text-align: center;
        margin: 5px;
    }

    .return-book-warningEmail{
        padding: 8px;
        border-radius: 6px;
        cursor: pointer;
        width: max-content;
    }

    .book-item-list .book-item p,.book-item-list .book-item-approved p{
        padding: 5px 0px;
        /* color: green; */
    }

    .book-item-list .book-item-approved {
		display: block;
		padding: 10px;
        column-gap: 10px;
        row-gap: 10px;
		border: 2px solid black;
		border-radius: 5px;
    }

    .book-item-list .book-item p {
        margin: 0;
    }

	.bookTitle{
		filter: drop-shadow(1px 1px 20px rgb(184, 11, 104));
	}

    .select-status-options {
        margin: 10px;
        /* width: 100%; */
        /* width: 20%; */
        max-width: fit-content;
		border: 2px solid black;
		padding: 2px;
		border-radius: 20px;
    }

    .book-item-list .book-item p:nth-child(4),
    .book-item-list .book-item p:nth-child(5) {
        display: none;
    }
}