body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* margin-top: 125px; */
  }
  
  .form-content {
    width: 100%;
    max-width: 800px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
  }
  
  .form-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .form-group {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 5px;
  }
  
  label {
    font-weight: bold;
    /* margin-bottom: 5px; */
  }
  
  input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
  }
  
  .dark-mode input {
    background: #333;
    color: white;
    border: 1px solid #555;
  }
  
  .form-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .cancel-button, .submit-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .cancel-button {
    background: #ff0000;
    font-weight: bolder;
    color: white;
  }
  
  .submit-button {
    background: #32CD32; 
    font-weight: bolder;
    color: white;
  }
  
  
  @media (max-width: 770px) {
    .form-row {
      flex-direction: column;
    }
  
    .form-buttons {
      flex-direction: column;
    }
  
    .cancel-button, .submit-button {
      width: 100%;
      margin-bottom: 10px;
    }
    .form-group{
        margin: 2px;
    }

    .form-container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin-top: 100px;
    }
}