.mystore-container{
    margin: 20px;
}
.INPUT input{
    width: 50%;
    border-radius: 50px;
}
.INPUT{
    margin: 10px;
}
@media screen and (max-width: 768px) {
    .INPUT input{
        width: 90%;
    }
}
body.dark .books-display{
    color: aliceblue;
    button{
        background-color:aquamarine;
    }
}